<ion-header>
  <ion-toolbar>
    <ion-title>PDF a libro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <input (change)="transformPDF($event)" class="inputfile" name="file" mode="ios" accept=".zip " [(ngModel)]="dataZip" id="file" ng2FileSelect
      placeholder="Upload ZIP" type="file"  />
      <label for="file" >Seleccionar ZIP</label>

   
  </ion-item>
  
  <ion-button expand="block" (click)="selectZip()">Cargar PDF </ion-button>

  <ion-img class="center imgmedia" src="../assets/download.png"></ion-img>

</ion-content>